
@media screen and (max-width: 900px) {
  .app-skills-container {
    flex-direction: column;
    width: 100%;
  }

  .app-skills-list {
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
}

.app-skills-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto; /* Center the .app-skills-container horizontally */
}

.app-skills-list {
  align-items: flex-start;
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 2rem;
  padding-right: 2rem;
}

.app-skills-item div {
  background-color: #C1D1A7;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.app-skills-item div img {
  height: 50%;
  width: 50%;
}

.app-skills-exp {
  align-items: center; /* Center the experiences section horizontally */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.app-skills-exp-item > div {
  display: flex;
}

.app-skills-exp-year {
  display: flex;
  flex-direction: row; /* Display the year and details in one row */
  align-items: center; /* Center the year and details vertically */
  margin-right: 0.5rem;
}

.app-skills-exp-details {
  display: flex;
  flex-direction: column; /* Display the details in a column */
}

.app-skills-exp-details > div {
  display: flex;
}

.app-skills-exp-item {
  position: relative;
  display: flex;
  flex-direction: row; /* Display each item in a row */
  justify-content: flex-start; /* Align items to the left in each row */
  margin: 1.1rem 0;
  width: 100%;
}


.app-skills-exp-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

/* .app-skills-exp a {
  text-align: left;
} */

.p-text {
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: left;
  margin-top: 0;
}

.app-skills-item {
  flex-direction: column;
  margin: 1rem;
  text-align: center;
}

.tooltip {
  position: absolute;
  bottom: 50%; /* Center the tooltip vertically */
  left: 110%; /* Position the tooltip to the right of the item */
  transform: translateY(50%);
  visibility: hidden;
  background-color: #C1D1A7;
  color: var(--gray-color)!important;
  padding: 1rem;
  border-radius: 5px;
  white-space: pre-line; /* Allow line breaks in the tooltip */
  font-size: 12px;
  text-align: center; /* Center the text within the tooltip */
  max-height: 10em; /* Limit the tooltip height to show 2-3 lines */
  width: 20rem;
  overflow: hidden; /* Hide any overflowing content */
  display: inline-block; /* Adjust width to fit content */
}

.app-skills-exp-item:hover .tooltip {
  visibility: visible; /* Show the tooltip on hover */
}